tensorflow==2.7.0
tensorflow-datasets==4.6.0
tensorflow-estimator==2.7.0
tensorflow-gcs-config==2.9.1
tensorflow-hub==0.12.0
tensorflow-io-gcs-filesystem==0.27.0
tensorflow-metadata==1.10.0
tensorflow-probability==0.17.0
tensorflow-quantum==0.7.2
importlib-metadata==4.13.0
importlib-resources==5.10.0
matplotlib==3.2.2
matplotlib-venn==0.11.7
cirq-core==0.13.1
cirq-google==0.13.1
sympy==1.8
numpy==1.19.5
seaborn==0.11.2
glob2==0.7
pickleshare==0.7.5
tqdm==4.64.1
keras==2.7.0
Keras-Preprocessing==1.1.2
keras-vis==0.4.1
opencv-contrib-python==4.6.0.66
opencv-python==4.6.0.66
opencv-python-headless==4.6.0.66